﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Bejelentkezés";
}
<div class="align-self-center" style="position: relative; left: 50%; right: 50%; top: 50%; bottom:50%;">
    <h1>@ViewData["Title"]</h1>
    <div class="row text-center">
        <div class="col-md-4 text-center">
            <section>
                <form id="account" method="post">
                    <div class="form-group">
                        <label asp-for="Input.Email">Felhasználónév:</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Jelszó:</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                        <button id="forgot-password" asp-page="./ForgotPassword">Elfelejtett jelszó</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
